<%- include('../../partials/header.ejs'); %>

<div class="container">
    <hr>
    <div class="card mt-3">
        <div class="card-header">
           <h2>Login de Admin</h2> 
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="email@example.com"><br>
                <input class="form-control" name="password" type="password" placeholder="*********">
                <div class="d-grid gap-2"><br>
                <button class="btn btn-primary" type="submit">Logar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>